.container{
   padding-left: 5px;
    width: auto;
}
.top-section{
    
    background-color:cornflowerblue;
}
.detailed-section1{
    font-size: 15px;
    padding-left: 15px;
    font-family:monospace;
    background-color: beige;
    position: relative;
   
}
.detailed-section2
{
    font-size: 15px;
    padding-left: 15px;
    font-family:monospace;
    background-color:cornflowerblue;
    padding-bottom: 4px;
        
}
.section3-div1, .section3-div3 , .section3-div5
{
    float:right;
    background-color:darksalmon;
    font-family:monospace;
    padding-bottom: 10px;
    font-size: 15px;   
        

}
.section3-div2, .section3-div4
{
    float:right;
    font-family:monospace;
    background-color:cadetblue;
    padding-bottom: 10px;
    font-size: 15px;
     
}
.article-1, .article-2, .article-3, .article-4, .article-5 
{
    line-height: 25px;
    
}

.img1, .img3, .img5 
{
    float: left;
    padding-left:20px;
    width: 600px;
    height: 350px; 
    
}
.img2, .img4 
{
    float: right;
    padding-left:1px;
    width: 600px;
    height: 350px; 
    
}